body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
  color: #333;
}
body.dark-mode {
  background: #222;
  color: #eee;
}

.container {
  text-align: center;
  max-width: 780px;
  padding: 0 1rem;
  margin: 0 auto 12rem;
}

.title {
  font-size: 3rem;
  background: #333;
  color: #fff;
  transform: skew(0, -2deg);
  text-transform: uppercase;
  padding: 1rem 0.4rem;
  display: inline-block;
  margin: 2rem auto;
  border-bottom: 6px solid #cc4;
}
.dark-mode .title {
  background: #eee;
  color: #333;
  border-bottom: 6px solid #48f;
}

.difficulty-selector {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.darkmode-toggle {
  font-weight: 600;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  background: rgba(0,0,0,0.8);
  border-radius: 5px;
  color: #999;
  transition: 0.3s color;
}
.darkmode-toggle:hover {
  color: #48f;
}
.dark-mode .darkmode-toggle:hover {
  color: #cc4;
}

.button {
  border-radius: 6px;
  height: 5rem;
  width: 16rem;
  border: 1px solid white;
  background: #fff;
  box-shadow: 0 0px 20px #fff;
  transition: 0.3s;
  cursor: pointer;
  margin: 0.3rem;
  font-size: 1.8rem;
  z-index: 1;
  position: relative;
}
.button:hover {
  box-shadow: 0px 10px 20px #ccc;
  z-index: 2;
}
.button:focus {
  outline: none;
  border-bottom: 4px solid #999;
}
.dark-mode .button {
  box-shadow: 0 0 20px #222;
  background: #555;
  border: #333;
  color: #eee;
}
.dark-mode .button:hover {
  box-shadow: 0 0 20px #000;
}

.button--start {
  height: 5rem;
  width: 16rem;
}
.button--true {
  border-bottom: 4px solid rgb(207, 230, 207);
}
.button--true:focus {
  border-bottom: 4px solid rgb(28, 109, 28);
}
.button--true:hover {
  border-bottom: 4px solid rgb(73, 211, 73);
}
.button--false {
  border-bottom: 4px solid rgb(231, 196, 196);
}
.button--false:focus {
  border-bottom: 4px solid rgb(126, 28, 28);
}
.button--false:hover {
  border-bottom: 4px solid rgb(214, 66, 66);
}

.question {
  line-height: 1.25;
  height: 6rem;
  margin-bottom: 3rem;
}

@keyframes loading-spinner {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.loading {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading--spinner {
  box-sizing: border-box;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  border-top: 3px solid #333;
  border-left: 3px solid #333;
  animation: loading-spinner 0.7s linear infinite;
}

.result {
  position: fixed;
  z-index: 99;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%) skew(0, -2deg);
  font-size: 200%;
  font-weight: 800;
  color: #fff;
  padding: 1rem 0.4rem;
  opacity: 0.9;
}

.result--correct {
  background: #1a1;
}
.result--incorrect {
  background: #a11;
}
